/* common style */

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Hiragino Sans GB';
    font-size: 18px;
    color: #353535;
    line-height: 1.556;
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}

[role=button] {
    cursor: pointer;
}

a,
a:active,
a:visited {
    text-decoration: none;
    color: #007dc5;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    line-height: 2.1;
}

b {
    font-size: 42px;
    font-weight: 600;
}

small {
    font-size: 12px;
}

.subp {
    font-size: 14px;
}

:before,
:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
}

.row {}

.row:before,
.row:after {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}

.row .item {
    display: inline-block;
    text-align: center;
}

.col-4 {
    width: 33.33%;
    float: left;
}


.disable {
    display: none;
}

.clearBoth {
    clear: both;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.en {
    font-family: 'Helvetica Neue';
}

.explain {
    font-size: 14px;
    color: #909090;
}

.smlnote {
    font-size: 14px;
}


.main-container {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    max-height: 768px;
    position: relative;
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.imgwrap > img {
    width: 50%;
}




.font32 {
    font-size: 32px;
}

.font14 {
    font-size: 14px;
}

.font24 {
    font-size: 24px;
}

.font12 {
    font-size: 12px;
}

.colorDarkGray {
    color: #353535;
}

.colorLightGray {
    color: #909090;
}

.color9bGray {
    color: #9b9b9b;
}

.colorBlue {
    color: #007dc5;
}

.bgDarkGray {
    background-color: #353535;
}

.bgBlue {
    background-color: #007dc5;
}

.bgLightBlue {
    background-color: #80bfe3;
}




/* slickJs button css */

.slick-dots {
    bottom: 6%;
}

.slick-dots li,
.slick-dots li button,
.slick-dots li button:before {
    border-radius: 100%;
    color: transparent;
    width: 10px;
    height: 10px;
}

.slick-dots li {
    margin: 0 12px;
}

.slick-dots li button:before {
    /*    background-color: #007dc5;*/
    background-color: #2f2f2f;
    border: 1px solid #2f2f2f;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    background-color: transparent;
    color: transparent;
}

nav {
    position: fixed;
    top: 0;
    left: -431px;
    width: 430px;
    height: 100%;
    z-index: 999;
    background-color: white;
    -webkit-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
    border-right: 1px solid #dcdcdc;
    overflow: hidden;
}

nav.actived {
    left: 0;
}

.navbtn {
    cursor: pointer;
    position: fixed;
    width: 52px;
    height: 52px;
    z-index: 999;
    background: url(../images/headNav.png) no-repeat center;
    background-size: contain;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navbtn.upArrow {
    background-image: url(../images/backIcon.png);
    -webkit-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.navbtn.leftArrow {
    background-image: url(../images/backIcon.png);
}

nav .close {
    position: absolute;
    background: url(../images/navCloseBtn.png) no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    top: 20px;
    right: -25px;
    -webkit-transition: right 0.5s ease 0.5s, transform 0.5s ease 0.5s;
    -webkit-transition: right 0.5s ease 0.5s, -webkit-transform 0.5s ease 0.5s;
    transition: right 0.5s ease 0.5s, -webkit-transform 0.5s ease 0.5s;
    transition: right 0.5s ease 0.5s, transform 0.5s ease 0.5s;
    transition: right 0.5s ease 0.5s, transform 0.5s ease 0.5s, -webkit-transform 0.5s ease 0.5s;
}

nav .close.actived {
    right: 20px;
    -webkit-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
}

.navLogo {
    width: 213px;
    height: 41px;
    position: absolute;
    top: 54px;
    left: 48px;
}

.nav {
    width: 320px;
    margin: 140px auto 0;
}

.nav li {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
}

.navimg {
    vertical-align: middle;
    width: 35px;
    margin-right: 20px;
    margin-top: -5px;
}

.jumpbackend {
    width: 275px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #007dc5;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 50px;
    font-size: 14px;
    color: #007dc5;
}


/* end common style*/