.paraWrap {
    position: relative;
}

.wncParaBgImg {
    width: 100%;
    height: 768px;
}

.paraItem {
    width: 100%;
    height: 768px;
    position: relative;
    background: transparent;
}

.partTitle {
    position: absolute;
    top: 0;
}

.wncPartTitle {
    width: 334px;
    height: 334px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: calc(50% - 167px);
}

.partSection {
    position: relative;
    padding: 60px 163px;
}

.partSection:last-child {
    padding-bottom: 100px;
}

.imgWrap {
    display: inline-block;
    text-align: center;
}

.imgWrap > img {
    width: 50%;
}

.oneThird {
    width: 33.33%;
    float: left;
}

.half {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.half:first-child {
    padding-right: 46px;
}

.half:last-child {
    padding-left: 46px;
}

.sectionRow {
    margin-top: 32px;
    margin-bottom: 60px;
    position: relative;
}

.sectionRow:last-child {
    margin-bottom: 0px;
}

.sectionRow:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.sectionCell {
    text-align: center;
    display: inline-block;
}

.centerContent {
    text-align: center;
}

.rightContent {
    text-align: right;
}

.leftContent {
    text-align: left;
}

.whyArrowImg {
    margin-top: 40px;
}

.whyCleanerPartTitle {
    text-align: center;
    margin-bottom: 20px;
}

.whySection2P {
    margin-top: 20px;
}

.rightBorder {
    border-right: 1px solid #979797;
    box-sizing: border-box;
}

.whyConMartop {
    margin-top: 22px
}

.whyPepTitle {
    margin-top: 5px;
    margin-bottom: 5px;
}

.shortLineWrap {
    margin-top: 40px;
    margin-bottom: 44px;
}

.shortLine {
    width: 80px;
    height: 5px;
    background-color: #4a4a4a;
    margin: 0 auto;
}

.part3SpTime {
    margin-top: 40px;
    line-height: 2.5
}

.wnc3SecTitle1 {
    margin-top: 30px;
    margin-bottom: 40px;
}

.wnc3SecTitle2 {
    margin-top: 60px;
    margin-bottom: 40px;
}

.part3TitleIcon {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    line-height: 80px;
    font-size: 42px;
    color: white;
    vertical-align: middle;
    margin-right: 20px;
}

.part3S1ConLFWrap {
    float: left;
    width: 65%;
}

.part3S1ConRTWrap {
    float: right;
    margin-top: -40px;
}

.whatIsCleanBtnWrap {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.whatIsCleanBtn {
    display: inline-block;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
    font-size: 14px;
    color: white;
}

.polutionSrcLi > li {
    float: left;
    text-align: center;
    margin-right: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.polutionSrcLi img {
    width: 64px;
}

.solveWrap {
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

.solveCell {
    width: 80%;
}

.solveWrap:nth-child(even) .solveCell {
    float: right;
}

.solveCell img {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    vertical-align: middle;
}

.polution-ul {
    margin-bottom: 20px;
}

.polution-ul > li {
    list-style: disc inside;
}

.cadr-img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.lm-btn {
    width: 336px;
    height: 42px;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 42px;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.lm-btn img {
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.aham-link {
    width: 366px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin: 10px auto;
}

.sectionRow p.sub-title {
    margin-top: 40px;
    margin-bottom: 20px;
}

.cadritem {
    width: 80%;
    text-align: center;
}

.center-item {
    margin: 0 auto;
}

.oneThird:last-child .cadritem {
    float: right;
}

.cadritem p {
    margin-top: 10px;
}

.lmcadr {
    margin: 0 auto;
    margin-top: 40px;
}

.eneryp {
    margin-top: 50px;
    margin-bottom: 20px;
}

.energy-lfcell {
    float: left;
    width: 65%;
}

.energy-rtcell {
    float: right;
    width: 35%;
}
.energy-subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.o3con {
    margin-top: 10px;
    margin-bottom: 40px;
}

