<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BlueAir</title>
        <link rel="stylesheet" href="<?php echo base_url('/common/css/admin-index.css'); ?>">
        <link rel="stylesheet" href="<?php echo base_url('/common/css/bootstrap.min.css'); ?>">
        <link rel="stylesheet" href="<?php echo base_url('/common/css/admin-product.css'); ?>">
    </head>
    <body>

        <div id="main-container">
            <div id="content-container">
                <div id="list-container">
                    <!-- 产品加载区 -->
                    <div id='production'>
                        
                    </div>
                </div>
                <div class="right-menu">
                   <div class="right-top-menu">
                        <button class="button1" id="logout">登出</button>
                        <span id="welcome">你好，<?php echo $_SESSION['username']; ?> </span>
                   </div>
                   <div class="right-bottom-menu">
                       <span class="series-tab active" data-serieid="25">classic</span>
                       <span class="series-tab" data-serieid="28">pro</span>
                       <span class="series-tab" data-serieid="29">sense</span>
                       <button class="button1" id="add-product" data-toggle="modal" data-target="#product-form" data-type="1">添加产品</button>
                   </div>
                </div>
            </div>
        </div>
        <div class="blackBackground">
            <div class="logoLeft">
                <img src="<?php echo base_url('/common/images/admin/logo.png'); ?>" alt="#" class="logoImg">
            </div>
            <div class="formTop">
                <ul>
                    <li class="active">
                        <label for="" class="text icon1">产品库管理</label>
                    </li>
                    <li onclick="window.location.href='<?php echo base_url('/admin/users.html'); ?>'">
                        <label for="" class="text icon2">账号管理</label>
                    </li>
                    <li onclick="window.location.href='<?php echo base_url('/admin/scene.html'); ?>'">
                        <label for="" class="text icon3">应用场景管理</label>
                    </li>
                </ul>
            </div>	
            <input type="submit" value="返回销售工具" style="color:white " id="buttonProperty" class="button1" />	
        </div>

        <!-- Modal -->
        <div class="modal fade" id="product-form" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="user-formLabel" style="left:200px">
            <div class="modal-dialog" role="document" style="margin-top:100px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center" id="user-formLabel">新建产品</h4>
                    </div>
                    <div class="modal-body">
                       <form class="form" style="padding-bottom:18px;">
                           <div class="form-group col-xs-6">
                               <div class="input-group">
                                  <div class="input-group-addon">机型:</div>
                                    <input type="text" class="form-control" id="productName">
                                </div>
                            </div>
                           <div class="form-group col-xs-6">
                               <div class="input-group">
                                  <div class="input-group-addon">系列:</div>
                                    <select id="serieID" class="form-control">
                                        <option value="25">classic</option>
                                        <option value="28">pro</option>
                                        <option value="29">sense</option>
                                    </select>
                                </div>
                            </div>
                       </form>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" style="margin:0 15px;">
                            <li role="presentation" class="active"><a href="#parameter" aria-controls="parameter" role="tab" data-toggle="tab">参数</a></li>
                            <li role="presentation"><a href="#images" aria-controls="images" role="tab" data-toggle="tab">图片</a></li>
                            <li role="presentation"><a href="#feature" aria-controls="feature" role="tab" data-toggle="tab">特性</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content" style="overflow:auto;position: absolute;left: 15px;right: 15px;bottom: 0;top: 130px;">
                            <div role="tabpanel" class="tab-pane active" id="parameter">
                                <form action="" class="form" style="margin-top:24px;">
                                    <div class="form-group col-xs-6">
                                       <div class="input-group">
                                          <div class="input-group-addon">产地:</div>
                                          <input type="text" class="form-control" id="producting_area" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">质保:</div>
                                          <input type="text" class="form-control" id="warranty" >
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12">
                                        <div class="input-group">
                                          <div class="input-group-addon">注册质保:</div>
                                        <input type="text" class="form-control" id="reg_warranty" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">材料:</div>
                                        <input type="text" class="form-control" id="material" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">高(mm):</div>
                                        <input type="text" class="form-control" id="height" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">宽(mm):</div>
                                        <input type="text" class="form-control" id="width" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">厚(mm):</div>
                                        <input type="text" class="form-control" id="thickness" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">重(kg):</div>
                                        <input type="text" class="form-control" id="weight" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">颜色:</div>
                                        <input type="text" class="form-control" id="color" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">电源线长度(m):</div>
                                        <input type="text" class="form-control" id="power_line_length" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">滚轮:</div>
                                        <input type="text" class="form-control" id="wheel" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">滤网寿命(月):</div>
                                        <input type="text" class="form-control" id="filter_life" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">CADR 颗粒物:</div>
                                        <input type="text" class="form-control" id="CADR_PM" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">CADR 甲醛:</div>
                                        <input type="text" class="form-control" id="CADR_oxymethylene" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">甲醛过滤等级:</div>
                                        <input type="text" class="form-control" id="level_oxymethylene" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">CCM甲醛:</div>
                                        <input type="text" class="form-control" id="CCM_oxymethylene" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">净化效率:</div>
                                        <input type="text" class="form-control" id="purification_level" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">CCM颗粒物:</div>
                                        <input type="text" class="form-control" id="CCM_PM" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">适用面积(平方米):</div>
                                        <input type="text" class="form-control" id="area" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">颗粒物等级:</div>
                                        <input type="text" class="form-control" id="level_PM" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">进风:</div>
                                        <input type="text" class="form-control" id="loadWind" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">风档:</div>
                                        <input type="text" class="form-control" id="wind_gears" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">风量:</div>
                                        <input type="text" class="form-control" id="wind_quantity" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">换气次数(/小时):</div>
                                        <input type="text" class="form-control" id="gas_exchange" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">功耗(W):</div>
                                        <input type="text" class="form-control" id="power_consume" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">噪音声压级dB(A):</div>
                                        <input type="text" class="form-control" id="noiseSoundPressure" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">噪音声功级dB(A):</div>
                                        <input type="text" class="form-control" id="noiseAcousticalPower" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">内置滤网:</div>
                                        <input type="text" class="form-control" id="inner_filter" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">粒子滤网:</div>
                                        <input type="text" class="form-control" id="particleFilter" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">复合型滤网:</div>
                                        <input type="text" class="form-control" id="combineFilter" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">活性炭滤网:</div>
                                        <input type="text" class="form-control" id="charcoalFilter" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">滤网更换提示:</div>
                                        <input type="text" class="form-control" id="filter" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">空气智能模块:</div>
                                        <input type="text" class="form-control" id="airIntelligent" >
                                       </div>
                                    </div>

                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">滤网数量:</div>
                                        <input type="text" class="form-control" id="filter_num" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">附赠:</div>
                                        <input type="text" class="form-control" id="append" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">可选配件:</div>
                                        <input type="text" class="form-control" id="accessories" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <div class="input-group">
                                          <div class="input-group-addon">备注:</div>
                                        <input type="text" class="form-control" id="remark" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-12">
                                        <div class="input-group">
                                          <div class="input-group-addon">京东链接:</div>
                                        <input type="text" class="form-control" id="jdURL" >
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-12">
                                        <div class="input-group">
                                          <div class="input-group-addon">一句话描述:</div>
                                        <textarea type="text" class="form-control" rows="1" id="label" ></textarea>
                                       </div>
                                    </div>
                                    <div class="form-group col-xs-12">
                                        <div class="input-group">
                                          <div class="input-group-addon">详细描述:</div>
                                        <textarea type="text" class="form-control" rows="3" id="description" ></textarea>
                                       </div>
                                    </div>                                      
                                    <div class="form-group col-xs-6">
                                       <label for="remote_control">
                                           <input type="checkbox" id="remote_control">
                                           是否有遥控器
                                       </label>
                                    </div>
                                    <div class="form-group col-xs-6">
                                       <label for="particle_sensor">
                                           <input type="checkbox" id="particle_sensor">
                                           是否电子颗粒传感器
                                       </label>
                                    </div>
                                    <div class="form-group col-xs-6">
                                       <label for="gas_sensor">
                                           <input type="checkbox" id="gas_sensor">
                                           是否电子气体传感器
                                       </label>
                                    </div>
                                    <div class="form-group col-xs-6">
                                       <label for="fan_speed_control">
                                           <input type="checkbox" id="fan_speed_control">
                                           是否自动风扇速度控制器
                                       </label>
                                    </div>
                                    <div class="form-group col-xs-6">
                                       <label for="timer">
                                           <input type="checkbox" id="timer">
                                           是否有定时器
                                       </label>
                                    </div>
                                    <div class="form-group col-xs-6">
                                       <label for="motion_seneor">
                                           <input type="checkbox" id="motion_seneor">
                                           是否动作感应控制
                                       </label>
                                    </div>
                                    <div class="form-group col-xs-6">
                                       <label for="armorplate_glass_displayer">
                                           <input type="checkbox" id="armorplate_glass_displayer">
                                           是否有钢化玻璃显示板
                                       </label>
                                    </div>
                                    <div class="form-group col-xs-6">
                                       <label for="LCD">
                                           <input type="checkbox" id="LCD">
                                           是否有液晶显示器
                                       </label>
                                    </div>
                                    <div class="form-group col-xs-6">
                                       <label for="HEPASilentPlus">
                                           <input type="checkbox" id="HEPASilentPlus">
                                           是否HEPASilentPlus技术
                                       </label>
                                    </div>
                                    <div class="form-group col-xs-6">
                                       <label for="app_control">
                                           <input type="checkbox" id="app_control">
                                           是否APP控制
                                       </label>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="images">
                                <div id="images-container"></div>
                                <div class="clearfix"></div>
                                <div id="pic_selector-con"><button id="pic_selector" class="btn btn-default">添加图片</button></div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="feature">
                                <div class="container-fluid" style="margin: 16px auto">
                                    <div class="row">
                                        <div class="col-xs-12">标签：</div>
                                    </div>
                                    <div class="row">
                                        <div id="tag-container">
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="form">
                                    <div class="form-group col-xs-9">
                                        <input type="text" class="form-control" id="add-tag-text" placeholder="标签:">
                                    </div>
                                    <div class="form-group col-xs-3 text-right">
                                        <button class="btn btn-primary" id="add-tag-bt">添加标签</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                
                                <div class="container-fluid" style="margin: 16px auto;border-top: 1px solid #ccc; padding-top:16px;">
                                    <div class="row">
                                        <div class="col-xs-12">特性：</div>
                                    </div>
                                    <div class="row">
                                        <div id="feature-container">
                                        </div>
                                    </div>
                                </div>
                                <div class="form" action="">
                                    <div class="form-group col-xs-6">
                                        <input type="text" class="form-control" id="add-feature-title" placeholder="特性标题:">
                                    </div>
                                    <div class="form-group col-xs-12">
                                        <textarea type="text" class="form-control" id="add-feature-descr" placeholder="特性描述:" rows="3"></textarea>
                                    </div>
                                    <div class="form-group col-xs-12 text-right">
                                        <button class="btn btn-primary" id="add-feature-bt">添加特性</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center modal-footer">
                        <button type="button" class="btn btn-primary" id="user-submit">确定</button>
                    </div>
                </div>
            </div>
        </div>

       
        <script src="<?php echo base_url('/common/js/jquery.min.js'); ?>"></script>
	      <script src="<?php echo base_url('/common/js/bootstrap.min.js'); ?>"></script>
        <script src="<?php echo base_url('/common/js/admin-control.js'); ?>"></script>
        <script src="<?php echo base_url('/common/js/ajaxupload.js'); ?>"></script>
        <script src="<?php echo base_url('/common/js/superadmin-produts.js'); ?>"></script>

    </body>
</html>