html,body{
    overflow: hidden;
    position: relative;
}

#whyBlueAirContainer {
    overflow: hidden;
}

#whyBlueAirSlide .container {
    position: relative;
    color: #007dc5;
}

.ourbrand {
    background: url(../images/whyBlueAir/ourBrand.png) no-repeat center center;
    background-size: cover;
}

.ob-logo {
    width: 223px;
    height: 42px;
    position: absolute;
    top: 51px;
    right: 63px;
}

.ob-text {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 51px;
    left: 10%;
    color: #394a58;
}

#whyBlueAirContainer .subp {
    margin-top: 6px;
    line-height: 22px;
}

.ob-digital {
    width: 100%;
    height: 235px;
    color: white;
    position: absolute;
    text-align: center;
    bottom: 12%;
    left: 0;
}

.ob-digital-wrap {
    display: inline-block;
}

.ob-digital-item {
    width: 235px;
    height: 235px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: white;
    color: #007dc5;
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
}

.ob-digital-item.mid {
    margin-left: 70px;
    margin-right: 70px;
}

.ob-title-wrap {
    margin-top: 50px;
}

.ob-title {
    font-weight: 100;
    line-height: 1;
    font-size: 60px;
    margin-left: 10px;
}

.ourbrand small {
    color: white;
    right: 36px;
    bottom: 6%;
    position: absolute;
}



.hs-logo {
    width: 223px;
    height: 42px;
}

.hs-title {
    width: 100%;
    text-align: center;
}

.hs-title-wrap {
    display: inline-block;
    margin-top: 80px;
    margin-left: 40px;
}

.hs-title-left{
    display: inline-block;
    vertical-align: top;
}

.hs-text {
    width: 357px;
    text-align: left;
    margin-top: 40px;
}

img.hs-img {
    width: 506px;
    height: 214px;
    display: inline-block;
    margin-top: 40px;
    margin-left: 40px;
}

.hs-nav {
    width: 100%;
    height: 51%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.hs-nav-wrap {
    display: inline-block;
}

.hs-item > img {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.slick-slide .arrow-img {
    width: 8px;
    display: inline;
    vertical-align: baseline;
    margin-left: 3px;
}

.hs-item {
    width: 183px;
    height: 240px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.hs-item .subp {
    width: 183px;
    height: 70px;
    margin-top: 15px;
}



.serve-banner {
    width: 100%;
    height: 54.82%;
    background-color: #f6f6f6;
    left: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
}

.serve-logo {
    width: 223px;
    height: 42px;
    top: 4.7%;
    left: 191px;
    position: absolute;
}

.serve-title {
    width: 37vh;
    height: 37vh;
    border-radius: 100%;
    color: white;
    text-align: center;
    position: absolute;
    top: 24.82%;
    left: 197px;
    font-size: 14px;
    background-color: #007dc5;
}

.serve-title h1 {
    margin-top: 25%;
    line-height: 56px;
}

.serve-title p {
    width: 150px;
    text-align: left;
    margin: 0 auto;
    line-height: 22px;
}

.serve-man {
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 200px;
}

.serve {
    width: 100%;
    height: 38.67%;
    position: absolute;
    bottom: 25px;
    left: 0;
    text-align: center;
}

.serve-item-wrap {
    display: inline-block;
}

.serve .imgwrap > img {
    height: 87px;
    width: 87px;
}

.serve .imgwrap > img {
    margin: 0 auto;
    margin-bottom: 10px;
}

.serve .item {
    width: 155px;
    margin: 10px 20px 0;
    float: left;
}



.honor-wrap {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

.honor-logo {
    width: 223px;
    height: 42px;
    position: absolute;
    top: 40px;
    left: 59px;
}

.honor-title {
    position: absolute;
    top: 100px;
    left: 64px;
    color: #007dc5;
}

.honor-nav {
    position: absolute;
    left: 64px;
    top: 160px;
}

.honor-navitem {
    margin-right: 38px;
    cursor: pointer;
    color: #909090;
}

.honor-navitem.actived {
    color: #353535;
}

.honor-content {
    width: 900px;
    height: 377px;
    position: absolute;
    left: 64px;
    top: 200px;
    display: none;
}

#honorIdentyContent img {
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 10px;
    margin-top: 15px;
}

.honor-content.actived {
    display: block;
}

#honorReportContent img {
    float: left;
    width: 266px;
    height: 183px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#honorReportContent img:first-child {
    width: 350px;
    height: 377px;
}

#honorReportContent {
    width: 1000px;
}


/* efficient */

#efficient {
    background: url(../images/whyBlueAir/efficientBg.jpg) no-repeat center center;
    background-size: 100% 100%;
}

.bacterialwrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/whyBlueAir/bacterialbg.png) no-repeat center center;
    background-size: 100%;
}

.bacterialwrap .bacterials {
    width: 100%;
}


.bacterial-text {
    color: white;
    font-size: 24px;
    line-height: 43px;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
}

.darkair {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/whyBlueAir/efficientDarkBg.jpg) no-repeat center center;
    background-size: 100%;
}

.openbabtn {
    width: 99px;
    height: 99px;
    position: relative;
    top: 60%;
    margin: 0 auto;
    background: url(../images/whyBlueAir/openBlueair.png) no-repeat center center;
    background-size: contain;
}

.efficient-dark .subp {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
}

.efficient-dark {
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.efficient-dark.dismiss {
    opacity: 0;
}

#efficientLight {
    background-color: transparent;
}

.efficient-light h2 {
    width: 100%;
    height: 81px;
    position: absolute;
    top: 15%;
    left: 0;
    text-align: center;
}

.el-img {
    width: 482px;
    height: 164px;
    position: relative;
    top: 30%;
    display: block;
    margin: 0 auto;
}

.efficient-light .subp {
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    top: 55%;
    text-align: center;
}

.why-efficient-btn {
    position: relative;
    height: 37px;
    width: 100%;
    left: 0;
    top: 44%;
    text-align: center;
}

.btn-why-efficient img {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-top: -5px;
}

.el-machineimg {
    width: 600px;
    height: 180px;
    position: absolute;
    bottom: 0;
    left: 212px;
}

.whyefficient .row {
    position: absolute;
    top: 35%;
}

.whyefficient .half {
    padding-left: 30px;
    padding-right: 30px;
}

.whyefficient small {
    display: block;
    margin-top: 5px;
    width: 90%;
}

.whyefficient h2 {
    position: absolute;
    width: 100%;
    height: 90px;
    text-align: center;
    top: 15%;
}


.mute .row {
    height: 100%;
}

.mute .row .col-3 {
    height: 100%;
    text-align: center;
}

.mute-item1 {
    background: url(../images/whyBlueAir/muteItem1.png) no-repeat center center;
    background-size: cover;
}

.mute-item2 {
    background: url(../images/whyBlueAir/muteItem2.png) no-repeat center center;
    background-size: cover;
}

.mute-item3 {
    background: url(../images/whyBlueAir/muteItem3.png) no-repeat center center;
    background-size: cover;
}

.mute-item4 {
    background: url(../images/whyBlueAir/muteItem4.png) no-repeat center center;
    background-size: cover;
}

.mute-efficient-btn {
    position: relative;
    text-align: center;
}
.btn-why-efficient {
    display: inline-block;
    border-radius: 40px;
    background-color: #007dc5;
    text-align: center;
    font-size: 14px;
    line-height: 37px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.mute .col-3 > img {
    margin-top: 90%;
    width: 44%;
}

.mute p {
    text-align: center;
    color: white;
    line-height: 42px;
}

.energy-title {
    position: relative;
    top: 30px;
    left: 0;
    width: 100%;
}

.energy-cicle {
    width: 180px;
    height: 180px;
    margin-bottom: 30px;
    border-radius: 100%;
    line-height: 280px;
    text-align: center;
    cursor: pointer;
}

.energy-cicle img {
    width: 180px;
    height: 180px;
}

.energy-item-wrap {
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.energy-item {
    width: 180px;
    height: 600px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.energy-item:last-of-type {
    margin-right: 0;
}

.energy-qustitle {
    font-size: 36px;
    line-height: 58px;
    color: #007dc5;
    font-weight: 800;
    text-align: center;
}

.energy-ans {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.energy-ans.inshow {
    opacity: 1;
}

.energy h2 {
    text-align: center;
}

.energy-content {
    width: 190px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease 0.5s;
    transition: opacity 0.5s ease 0.5s;
}

.energy-content.inshow {
    opacity: 1;
}

.energy-honor img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.energy-honor {
    width: 190px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 12px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease 0.8s;
    transition: opacity 0.5s ease 0.8s;
}

.energy-honor.inshow {
    opacity: 1;
}



.byproduct .row {
    height: 100%;
}

.byproduct .half {
    height: 100%;
    position: relative;
}

.byproduct .lefthalf {
    background-color: #394a58;
}

.byproduct .righthalf {
    background-color: white;
}

.lefthalf p {
    width: 367px;
    height: 125px;
    position: absolute;
    left: 82px;
    top: 12.63%;
    color: white;
}

.lefthalf > img {
    position: absolute;
    right: 0;
    bottom: 19%;
    width: 426px;
    height: 342px;
}

.righthalf > img {
    width: 123px;
    height: 386px;
}

.byproduct div[role="button"] {
    position: absolute;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border: 1px solid #007dc5;
    color: #007dc5;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 40px;
}

#byproductLearnMore {
    top: 82%;
    left: 75px;
    color: white;
    background-color: #007dc5;
}
#byproductLearnMore img {
    width: 14px;
    vertical-align: middle;
    position: static;
    margin-left: 5px;
    margin-top: -5px;
}

.byproduct .right-con1 {
    width: 344px;
    height: 155px;
    position: absolute;
    top: 12.63%;
    left: 110px;
    color: #007dc5;
}

.byproduct .rightimg1 {
    position: absolute;
    left: 0;
    bottom: 19%;
}

.byproduct .rightimg2 {
    width: 121px;
    height: 121px;
    position: absolute;
    top: 50.1%;
    right: 212px;
}

.byproduct .right-text1 {
    width: 133px;
    height: 84px;
    position: absolute;
    top: 52.47%;
    right: 52px;
    color: #007dc5;
    font-size: 14px;
}

.byproduct .rightimg3 {
    width: 131px;
    height: 23px;
    position: absolute;
    top: 73.58%;
    right: 209px;
}

.byproduct .right-text2 {
    width: 143px;
    height: 110px;
    position: absolute;
    top: 73.57%;
    right: 50px;
    color: #007dc5;
    font-size: 14px;
}

#byproductCheckIdent {
    top: 82%;
    right: 216px;
    width: 120px;
    padding: 0;
    text-align: center;
}