        <!--  nav  -->
        <div class="navbtn" id="navBtn"></div>
        <nav id="nav">
            <img src="<?php echo base_url('/common/images/logo.png'); ?>" alt="logo" class="nav-logo">
            <ul class="nav">
                <li><img class="navimg" src="<?php echo base_url('/common/images/homeIcon.png'); ?>" alt="home"><a href="<?php echo base_url('/index.html'); ?>">首页</a></li>
                <li><img class="navimg" src="<?php echo base_url('/common/images/cleanerIcon.png'); ?>" alt="img"><a href="<?php echo base_url('/whyCleaner.html'); ?>">为什么需要空气净化器</a></li>
                <li><img class="navimg" src="<?php echo base_url('/common/images/whyBlueairIcon.png'); ?>" alt="img"><a href="<?php echo base_url('/whyBlueAir.html'); ?>">为什么选择Blueair</a></li>
                <li><img class="navimg" src="<?php echo base_url('/common/images/whichoneIcon.png'); ?>" alt="img"><a href="<?php echo base_url('/whichOne.html'); ?>">怎样的空气净化器适合您</a></li>
            </ul>

            <button class="jumpbackend" onclick="window.location.href='<?php echo base_url('/admin/index.html'); ?>'">进入后台管理</button>

            <button class="close" id="navCloseBtn"></button>
        </nav>
        <!--  end nav  -->
