<!DOCTYPE html>
<html lang="cn|en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Why Need Cleaner</title>

    <link rel="stylesheet" href="<?php echo base_url('/common/css/resetStyle.css'); ?>">
    <link rel="stylesheet" href="<?php echo base_url('/common/css/slick.css'); ?>">
    <link rel="stylesheet" href="<?php echo base_url('/common/css/slick-theme.css'); ?>">
    <link rel="stylesheet" href="<?php echo base_url('/common/css/common.css'); ?>">
    <link rel="stylesheet" href="<?php echo base_url('/common/css/whyCleaner.css'); ?>">
</head>

<body data-pagename="whycleaner">

    <?php include "nav.html"; ?>
<!--        <div id="wrapper">-->
<!--            <div id="scroller">-->

                <!--  part 1  -->
                <div class="part1">
                    <div class="parawrap inshow">
                        <img src="<?php echo base_url('/common/images/whyCleaner/1_1.png'); ?>" class="paraimg" alt="img">
                        <img src="<?php echo base_url('/common/images/whyCleaner/wncPart1Title.png'); ?>" class="paratitleimg" alt="title">
                    </div>
                    <section class="section">
                        <h2><b>呼吸的重要性</b></h2>
                        <p>呼吸是人的本能，一刻不能停息。人不吃饭可以活5个星期，不喝水可以活5天，但如果没有空气，却连5分钟都活不了。</p>
                        <div class="row">
                            <div class="col-4 text-left">
                                <div class="item">
                                    <span class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/1_2.png'); ?>" alt="img"></span>
                                    <p>一个成年人每天呼吸</p>
                                    <p class="bigtext"><b>25000+</b>次</p>
                                </div>
                            </div>
                            <div class="col-4 text-center">
                                <div class="item">
                                    <span class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/1_3.png'); ?>" alt="img"></span>
                                    <p>吸入空气</p>
                                    <p class="bigtext"><b>20KG+</b></p>
                                </div>
                            </div>
                            <div class="col-4 text-right">
                                <div class="item">
                                    <span class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/1_4.png'); ?>" alt="img"></span>
                                    <p>消耗氧气</p>
                                    <p class="bigtext"><b>1KG+</b></p>
                                </div>
                            </div>
                        </div>
                        <p>尤其在运动时，为了适应机体代谢需要，肺通气量增大，呼吸会成倍加快、加深。</p>
                        <div class="row">
                            <div class="col-4 text-center">
                                <span class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/1_5.png'); ?>" alt="img"></span>
                                <p>正常状态下每分钟呼吸</p>
                                <p class="bigtext"><b>12-16</b>次</p>
                            </div>
                            <div class="col-4 text-center wncimg"><span class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/1_6.png'); ?>" alt="img"></span></div>
                            <div class="col-4 text-center">
                                <span class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/1_7.png'); ?>" alt="img"></span>
                                <p>运动时每分钟呼吸会增加到</p>
                                <p class="bigtext"><b>40-50</b>次</p>
                            </div>
                        </div>
                    </section>
                    <section class="section" id="part1Waypoint">
                        <h2><b>空气污染对人体造成的危害</b></h2>
                        <p>在空气中的污染物会使人产生身体不适，症状有头疼，疲劳，眼睛、鼻腔和喉咙有刺激感，咳嗽等。</p>
                        <p class="wnc-subtitle">严重时可诱发</p>
                        <div class="row">
                            <div class="col-4">
                                <div class="item">
                                    <span class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/1_8.png'); ?>" alt="img"></span>
                                    <p>呼吸系统疾病</p>
                                    <p class="subp">如哮喘、肺气肿</p>
                                </div>
                            </div>
                            <div class="col-4 text-center">
                                <div class="item">
                                    <span class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/1_9.png'); ?>" alt="img"></span>
                                    <p>心血管疾病</p>
                                    <p class="subp">如血栓、高血压</p>
                                </div>
                            </div>
                            <div class="col-4 text-right">
                                <div class="item">
                                    <span class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/1_10.png'); ?>" alt="img"></span>
                                    <p>癌症</p>
                                    <p class="subp">如肺癌、白血病</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="half rightline">
                                <p>我国每年死于由室内或室外空气污染引起的各种疾病的人数</p>
                                <p class="bigtext"><b>850000+</b></p>
                                <small>＊世界卫生组织报告</small>
                            </div>
                            <div class="half">
                                <p>相当于每年全国交通事故死亡人数</p>
                                <p class="wncmtop bigtext"><b>4倍</b></p>
                            </div>
                        </div>
                    </section>
                    <section class="section">
                        <h2><b>对空气尤其敏感的人群</b></h2>
                        <div class="row">
                            <div class="half rightline text-center">
                                <span class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/1_11.png'); ?>" alt="img"></span>
                                <h3>老人</h3>
                                <p class="subp text-left">65以上老年人身体机能下降，对于进入体内的有害物质无法及时代谢，对外部环境的反应更加敏感。</p>
                            </div>
                            <div class="half text-center">
                                <span class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/1_12.png'); ?>" alt="img"></span>
                                <h3>呼吸系统疾病人群</h3>
                                <p class="subp text-left">如哮喘，慢性阻塞性肺病等。空气污染会加重患病人群的病情甚至威胁到生命。</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="half rightline text-center">
                                <span class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/1_13.png'); ?>" alt="img"></span>
                                <h3>少年儿童</h3>
                                <p class="subp text-left">少年儿童身体各部位的机能尚未发育健全，空气污染会影响少年儿童的发育。研究显示，空气污染指数下降，儿童肺部功能提升。</p>
                            </div>
                            <div class="half text-center">
                                <span class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/1_14.png'); ?>" alt="img"></span>
                                <h3>孕妇</h3>
                                <p class="subp text-left">空气污染会影响胎儿发育，对孕妇和胎儿的危害甚至比香烟更大。长期大量吸入空气中的污染物会导致患高血压的概率上升。</p>
                            </div>
                        </div>
                    </section>
                </div>
                <!--  end part 1  -->


                <!--  part 2  -->
                <div class="part2">
                    <div class="parawrap">
                        <img src="<?php echo base_url('/common/images/whyCleaner/2_01.jpg'); ?>" class="paraimg" alt="img">
                        <img src="<?php echo base_url('/common/images/whyCleaner/wncPart2Title.png'); ?>" class="paratitleimg" alt="title">
                    </div>
                    <section class="section">
                        <div class="shortlinewrap">
                            <div class="shortline"></div>
                        </div>
                        <h1 class="text-center">“呼吸好空气如此重要，<br/>你和家人每天呼吸到的空气是否洁净呢？”</h1>
                        <div class="shortlinewrap">
                            <div class="shortline"></div>
                        </div>
                        <p>谈到这个问题，首先应考虑我们每天所处的室内的空气。</p>
                        <br />
                        <p>上班族每天大多数时间都在家中和办公室度过，老人、孕妇、婴儿，则需要长时间在室内休息。可见我们每天绝大多数的时间都在呼吸着室内的空气。因此室内空气的优劣与我们和家人的健康关系重大。</p>
                        <div class="text-center wnc-sptime">
                            <span class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/2_02.png'); ?>" alt="img"></span>
                            <h3>人每天在室内度过的时间</h3>
                            <p class="bigtext"><b>>80%</b></p>
                        </div>
                    </section>
                    <section class="section" id="part2Waypoint">
                        <h2><b>室内空气面临的多重威胁</b></h2>
                        <p class="wnc-part2-subtitle"><span class="wnc-titleindex">1</span>室内空气不达标，影响室内空气</p>
                        <div class="wnc-part2-cont">
                            <div class="col-8">
                                <p>2014年，中国74个重点城市中，以细颗粒物（PM2.5）、可吸入颗粒物（PM10）、二氧化氮（NO2）、一氧化碳（CO）和臭氧（O3）等6项污染物综合评价空气质量指数，仅8城市达标。超标天数中以PM2.5为首要污染物天数最多，其次是PM10。</p>
                                <br>
                                <small>＊中国环境状况公报</small>
                            </div>
                            <div class="col-part2-s1conrtwrap">
                                <img src="<?php echo base_url('/common/images/whyCleaner/2_03.png'); ?>" alt="img">
                            </div>
                            <div class="clearBoth"></div>
                        </div>
                        <!--                        <div class="wnc-whatiscleanbtnwrap"><span role="button" class="wnc-whatiscleanbtn">补充阅读：颗粒物浓度在多少以内才是洁净的空气</span></div>-->
                        <p>在污染物超标的大气环境中，是不是在家里紧闭门窗就万事大吉？</p>
                        <br>
                        <p>就此，复旦大学公共卫生学院阚海东教授团队在对空气净化器的研究过程中发现，日间在实验室中开启空气净化器，可将PM2.5浓度从6到7个单位降至1到2个单位;但关闭门窗后，即使是夜间乃至凌晨，室内PM2.5浓度仍会回升至4到5个单位。因此我们可以看出，普通建筑门窗无法挡住PM2.5入室，实验也证明与细颗粒物相关的空气质量室内外差异并不大。</p>
                        <p class="wnc-part2-subtitle2"><span class="wnc-titleindex">2</span>室内存在多重隐形污染源</p>
                        <p>即使室外空气良好，室内也存在很多意想不到的污染源。导致通常室内空气污染的程度可高出室外污染5-10倍。你有想过你的家居环境和办公环境会存在以下空气杀手吗？</p>
                        <div class="row">
                            <div class="half">
                                <p class="wnc-polutitle">家居环境</p>
                                <ul class="wnc-polutionli">
                                    <li>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_04.png'); ?>" alt="icon">
                                        <p>二手烟</p>
                                    </li>
                                    <li>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_05.png'); ?>" alt="icon">
                                        <p>装修材料</p>
                                    </li>
                                    <li>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_06.png'); ?>" alt="icon">
                                        <p>床品</p>
                                    </li>
                                    <li>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_07.png'); ?>" alt="icon">
                                        <p>烹饪油烟</p>
                                    </li>
                                    <li>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_08.png'); ?>" alt="icon">
                                        <p>微波炉</p>
                                    </li>
                                    <li>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_09.png'); ?>" alt="icon">
                                        <p>花粉</p>
                                    </li>
                                    <li>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_10.png'); ?>" alt="icon">
                                        <p>冰箱</p>
                                    </li>
                                    <li>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_11.png'); ?>" alt="icon">
                                        <p>宠物</p>
                                    </li>
                                    <li>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_12.png'); ?>" alt="icon">
                                        <p>马桶</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="half">
                                <p class="wnc-polutitle">办公环境</p>
                                <ul class="wnc-polutionli">
                                    <li>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_13.png'); ?>" alt="icon">
                                        <p>打印机</p>
                                    </li>
                                    <li>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_14.png'); ?>" alt="icon">
                                        <p>电脑主机</p>
                                    </li>
                                    <li>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_15.png'); ?>" alt="icon">
                                        <p>办公桌隔板</p>
                                    </li>
                                    <li>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_16.png'); ?>" alt="icon">
                                        <p>地毯</p>
                                    </li>
                                    <li>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_17.png'); ?>" alt="icon">
                                        <p>暖通空调</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="section">
                        <h2><b>解决室内空气污染的几大方法</b></h2>
                        <div class="row">
                            <div class="solvewrap">
                                <div class="solvecell">
                                    <div>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_18.png'); ?>" alt="icon" onload="this.width>>=1;this.onload=null;">
                                        <span>控制污染源</span>
                                    </div>
                                    <ul class="subp">
                                        <li>选择绿色建材和环保家具；</li>
                                        <li>室内不吸烟；</li>
                                        <li>勤打扫房间，清洁床褥；</li>
                                    </ul>
                                    <div>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_20.png'); ?>" alt="icon" onload="this.width>>=1;this.onload=null;">
                                        <span class="smlnote">存在局限性</span>
                                    </div>
                                </div>
                            </div>
                            <div class="solvewrap">
                                <div class="solvecell">
                                    <div>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_19.png'); ?>" alt="icon" onload="this.width>>=1;this.onload=null;">
                                        <span>植物净化</span>
                                    </div>
                                    <p class="subp">吊兰、芦荟、仙人球、常春藤等室内观赏叶植物对甲醛有一定的吸收效果，但其吸收量低，效果缓慢。因此仅采取植物来净化空气，还不能达到理想结果。</p>
                                    <div>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_20.png'); ?>" alt="icon" onload="this.width>>=1;this.onload=null;">
                                        <span class="smlnote">效果缓慢、单一</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="solvewrap">
                                <div class="solvecell">
                                    <div>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_22.png'); ?>" alt="icon" onload="this.width>>=1;this.onload=null;">
                                        <span>通风换气</span>
                                    </div>
                                    <p class="subp">室外空气良好时，可以开窗通风用室外新鲜空气来稀释室内空气污染物。但如果室外空气严重污染，开窗通风显然变成一种“引霾入室”的行为，反而加重室内空气污染。</p>
                                    <div>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_20.png'); ?>" alt="icon" onload="this.width>>=1;this.onload=null;">
                                        <span class="smlnote">存在局限性</span>
                                    </div>
                                </div>
                            </div>
                            <div class="solvewrap">
                                <div class="solvecell">
                                    <div>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_23.png'); ?>" alt="icon" onload="this.width>>=1;this.onload=null;">
                                        <span>空气净化器</span>
                                    </div>
                                    <p class="subp">采用符合国际标准和国家标准的空气净化器，可以净化室内空气中流通的多种污染物，是当前世界公认的高效、方便的净化室内空气的方法。</p>
                                    <div>
                                        <img src="<?php echo base_url('/common/images/whyCleaner/2_21.png'); ?>" alt="icon" onload="this.width>>=1;this.onload=null;">
                                        <span class="smlnote">推荐</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!--  end part 2  -->

                <!--  part 3  -->
                <div class="part3">
                    <div class="parawrap">
                        <img src="<?php echo base_url('/common/images/whyCleaner/3_01.png'); ?>" class="paraimg" alt="img">
                        <img src="<?php echo base_url('/common/images/whyCleaner/wncPart3Title.png'); ?>" class="paratitleimg" alt="title">
                    </div>

                    <section class="section">
                        <h2><b>洁净空气输出率(CADR)——评判净化器效果的硬指标</b></h2>
                        <p>一台优质的空气净化器，应不断地输出洁净空气，抵消正不断从外界进入，或者由室内污染源生成的新污染物带来的影响，最终达到一个动态平衡。为达到上述的净化效果，空气净化器就有两个必要的硬性指标。</p>
                        <div class="cadr-row">
                            <div class="half">
                                <div class="cadr-img-wrap"><img src="<?php echo base_url('/common/images/whyCleaner/3_02-1.png'); ?>" alt="img">
                                    <p>净化效能</p>
                                </div>
                                <p>性能卓越的净化器，应具备很高的综合净化效能。以净化颗粒物为例，其过滤器应做到将不同尺寸的微粒一网打尽。否则即使出风量大，室内还是会流动着一些没有被过滤掉的颗粒。</p>
                            </div>
                            <div class="half">
                                <div class="cadr-img-wrap"><img src="<?php echo base_url('/common/images/whyCleaner/3_02-2.png'); ?>" alt="img">
                                    <p>出风量</p>
                                </div>
                                <p>净化器内置的风机一定要有足够的出风量，以保证一段时间内室内空气能达到一定的换气次数，能花更少的时间把房间内的污染的空气全都过滤一遍，净化成很干净的空气。实现快速的新陈迭代。</p>
                            </div>
                        </div>
                        <!--                        <div role="button" class="lm-btn">了解更多<img src="<?php echo base_url('/common/images/whyCleaner/3_08.png'); ?>" alt="img"></div>-->
                        <p>综上，<span class="emspan">换气速度快</span>和<span class="emspan">净化效能高</span>是好的空气净化器应具备的两个必要条件。
                            <br>而洁净空气输出率(CADR)，就是能定量表征洁净器以上两个必要条件的物理量，描述的是在一定时间内，输出洁净空气量的多少。包含颗粒物CADR和甲醛CADR。 我们在选购空气净化器时，最首要考虑的就是CADR。</p>
                        <br>
                        <p>其中，AHAM（美国家电制造商协会）是国际公认最权威的第三方独立测试机构。其精确性及公正性为美国环保署认可。</p>
                        <a role="button" class="aham-link" href="https://www.aham.org/AHAM/AHAM_MemberPortal/Member_Directory/AHAM_Member_Directory.aspx?WebsiteKey=c0a5e5a1-ea1c-42f1-9b84-d62256c16ea2&Membership_Directory=2#Membership_Directory" target="_blank">通过AHAM官网查询通过检测认证的净化器品牌</a>
                    </section>
                    <section class="section">
                        <h2><b>低噪音——要干净，也要安静！</b></h2>
                        <p>CADR值越来越高，机器内部风扇必定要提高转速，这样噪音就会随之升高，一台真正有效的空气净化器不仅要净化效率和能力强，噪音也要越低越好。</p>
                        <div class="row">
                            <h3 class="wnc-subtitle">噪音会对人体产生如下危害</h3>
                            <div class="col-4 text-left">
                                <div class="item part3-item">
                                    <div class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/3_03.png'); ?>" alt="icon"></div>
                                    <h3>心血管疾病</h3>
                                    <p class="text-left subp">如果长期暴露在噪音污染中，会导致心脏病以及心血管疾病。即使暴露于噪音中的人处于睡眠状态，他也一样会受到影响。</p>
                                </div>
                            </div>
                            <div class="col-4 text-center">
                                <div class="item part3-item">
                                    <div class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/3_04.png'); ?>" alt="icon"></div>
                                    <h3>影响孕婴健康</h3>
                                    <p class="text-left subp">噪音会严重影响孕妈妈和胎儿的健康，导致孕妇流产、早产；导致胎儿听觉器官的发育，并进而使脑的部分区域受损，严重影响智力发育。</p>
                                </div>
                            </div>
                            <div class="col-4 text-right">
                                <div class="item part3-item">
                                    <div class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/3_05.png'); ?>" alt="icon"></div>
                                    <h3>刺激神经系统</h3>
                                    <p class="text-left subp">科学研究发现，噪音可刺激神经，使之产生抑制，长期在噪音环境下工作的人，会出现疲劳无力、记忆力衰退的现象，还会引起神经衰弱症候群。</p>
                                </div>
                            </div>
                        </div>
                        <p>因此，如果一台空气净化器噪音很大，就会出现这样的情况：我们要么为了呼吸洁净的空气，在生活和工作时不得不忍受着噪音带来的身心伤害；要么为了减少噪音危害，做出“今天天气还没到糟糕透顶的地步，还是不开净化器了”这样的决定，无论哪一种情形，对我们来说都是不理想的使用状态。</p>
                        <p>所以，看似噪音是一个不太重要的指标，其实非常影响我们的使用体验和积极性。</p>
                        <!--                        <div role="button" class="lm-btn lmcadr">了解更多<img src="<?php echo base_url('/common/images/whyCleaner/3_08.png'); ?>" alt="img"></div>-->
                    </section>
                    <section class="section">
                        <h2><b>节能——不仅要有效，也要省电</b></h2>
                        <p>一台好的空气净化器不仅要有效，也要节能省电。</p>
                        <p>选用低功率低能耗的空气净化器，从个人和家庭角度来讲，可以减少电费开销，不造成任何负担，从国家的角度来讲，也是在为环境的可持续发展做贡献。</p>
                        <p>我们在选购空气净化器时，也要尽量选择在节能方面表现突出的产品。如符合美国环保署和美国能源部推出的Energy Star(能源之星)认证标准的空气净化器品牌。</p>
                        <p class="eneryp">电量和电费计算小贴士（以Blueair 603为例）</p>
                        <p class="subtitle">夜间低档运行8小时——</p>
                        <div class="row bottom-line">
                            <div class="energy-lfcell">
                                <div class="text-center">
                                    <div class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/3_06.png'); ?>" alt="img"></div>
                                    <p class="energy-subtitle">消耗电量</p>
                                    <p class="enery-em">16W*8h/1000</p>
                                    <p class="enery-em">=0.128kWh (0.128度电) </p>
                                </div>
                            </div>
                            <div class="energy-rtcell">
                                <div class="text-center">
                                    <div class="imgwrap"> <img src="<?php echo base_url('/common/images/whyCleaner/3_07.png'); ?>" alt="img"></div>
                                    <p class="energy-subtitle">电费（以一度电0.5元计算）</p>
                                    <p class="enery-em">仅需6分钱</p>
                                </div>
                            </div>
                        </div>
                        <p class="subtitle">以最高效能（CADR大于765m³/h）运行8小时——</p>
                        <div class="row">
                            <div class="energy-lfcell">
                                <div class="text-center">
                                    <div class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/3_06.png'); ?>" alt="img"></div>
                                    <p class="energy-subtitle">消耗电量</p>
                                    <p class="enery-em">75W*8h/1000</p>
                                    <p class="enery-em">=0.6kWh (0.6度电) </p>
                                </div>
                            </div>
                            <div class="energy-rtcell">
                                <div class="text-center">
                                    <div class="imgwrap"><img src="<?php echo base_url('/common/images/whyCleaner/3_07.png'); ?>" alt="img"></div>
                                    <p class="energy-subtitle">电费（以一度电0.5元计算）</p>
                                    <p class="enery-em">仅需3角钱</p>
                                </div>
                            </div>
                        </div>
                        <p>以此类推，该机型即使以最高效能档位运行一天24个小时，电费花销也不足1元钱。</p>
                    </section>
                    <section class="section">
                        <h2><b>警惕副产物——臭氧</b></h2>
                        <p>除了一般家用电器的安全性指标以外，空气净化器的一个重要安全性指标是臭氧安全指标，臭氧已经被证明在室内空气环境中与健康危害的相关性，其浓度受到严格的限制并且制定了严格的测试方法。采用了下列技术的空气净化器可能在工作中产生臭氧，如果选用下列技术的空气净化器，我们需要权衡利弊，警惕它们的臭氧排放指标是否在安全范围内。</p>
                        <div class="row">
                            <div>
                                <div class="half">
                                    <div>
                                        <p class="text-center">负离子发生器</p>
                                        <p class="o3con subp">工作原理是以负离子作为作用因子，主动出击捕捉空气中的有害物质，负离子带有强烈的吸附特性,能对空气中的灰尘、细菌就近吸附。但颗粒物实际上并未移除，只是附着于附近的表面上，随着时间的推移而丧失，空气中的颗粒物会再次漂浮于空气中。
                                            <br> 负离子发生器无法过滤气体和气味，而且会产生有害的副产品——臭氧。
                                        </p>
                                    </div>
                                </div>
                                <div class="half">
                                    <div>
                                        <p class="text-center">紫外线消毒灯</p>
                                        <p class="o3con subp">虽然已经证明，特定波长的紫外线在一定的曝光时间和光照强度情况下，具有杀死微生物的功能，但如果其中采用了185nm波长的、用于和空气发生反应产生臭氧的紫外线，则会面临制造出超标臭氧的风险。
                                            <br> 许多健康卫生机构发出警告，健康机构不要将紫外线用于杀菌目的，其无助于产品杀菌和人体安全。
                                        </p>
                                    </div>
                                </div>
                                <div class="clearBoth"></div>
                            </div>
                            <div>
                                <div class="half">
                                    <div>
                                        <p class="text-center">臭氧发生器</p>
                                        <p class="o3con subp">一定浓度的臭氧声称能够杀死微生物并消除某些气味，但是居于世界领先水平的一些卫生健康机构（如美国国家环境保护局、加拿大卫生部等），警告不要将臭氧用作空气净化的目的，因为臭氧发生器对人类健康是有害的，而安全的浓度水平上无法起到空气净化的作用。</p>
                                    </div>
                                </div>
                                <div class="half">
                                    <div>
                                        <p class="text-center">静电除尘</p>
                                        <p class="o3con subp">静电除尘器的原理是在空气中制造高压电场，让空气中的微尘带上电荷，然后通过极板的固定电荷让微尘定向移动到极板上，从而将其捕获 。这个过程中很可能因为空气所含杂质不同导致意外电离，这时候就会产生臭氧。</p>
                                    </div>
                                </div>
                                <div class="clearBoth"></div>
                            </div>
                        </div>
                    </section>
                </div>
                <!--  end part 3  -->

<!--            </div>-->
<!--        </div>-->

        <script src="<?php echo base_url('/common/js/jquery.min.js'); ?>"></script>
        <script src="<?php echo base_url('/common/js/slick.min.js'); ?>"></script>
<!--        <script src="<?php echo base_url('/common/js/iscroll.js'); ?>"></script>-->
        <script src="<?php echo base_url('/common/js/jquery.waypoints.min.js'); ?>"></script>
        <script src="<?php echo base_url('/common/js/action.js'); ?>"></script>
</body>

</html>