<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />

    <title>BlueAir</title>
    <link rel="stylesheet" href="css/resetStyle.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/homepage.css">
</head>

<body>
    <div class="main-container">
       
        <!--  nav  -->
        <div class="navbtn" id="navBtn"></div>
        <nav id="nav">
            <img src="./images/logo.png" alt="logo" class="navLogo">
            <ul class="nav">
                <li><img class="navimg" src="./images/homeIcon.png" alt="home"><a href="./index.html">首页</a></li>
                <li><img class="navimg" src="./images/cleanerIcon.png" alt="img"><a href="./whyCleaner.html">为什么需要空气净化器</a></li>
                <li><img class="navimg" src="./images/whyBlueairIcon.png" alt="img"><a href="./whyBlueAir.html">为什么选择Blueair</a></li>
                <li><img class="navimg" src="./images/whichoneIcon.png" alt="img"><a href="./whichOne.html">怎样的空气净化器适合您</a></li>
            </ul>

            <button class="jumpbackend">进入后台管理</button>

            <button class="close" id="navCloseBtn"></button>
        </nav>
        <!--  end nav  -->

        <!--  homePage  -->
        <div class="container">
            <div class="hp-header">
                <img src="images/logo.png" alt="logo" class="hp-logo">
            </div>
            <div class="hp-banner"></div>
            <div class="hp-footer">
                <a role="button" class="icon-wnc" href="./whyCleaner.html"></a>
                <a role="button" class="icon-wba" href="./whyBlueAir.html"></a>
                <a role="button" class="icon-which" href="./whichOne.html"></a>
            </div>
        </div>
        <!--  end homePage  -->
    </div>

    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/action.js"></script>
</body>

</html>