<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
    
    <title>WhyBlueAir</title>
    
    <link rel="stylesheet" href="css/resetStyle.css">
    
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/whyBlueAir.css">
    
</head>
<body>
    <div class="mainContainer">
        <div class="whyBlueAirContainer animated inShow" id="whyBlueAirContainer">
            <div class="navBtn" id="navBtn"><img src="./images/headNav.png" alt="nav"></div>
            <div class="nav" id="nav">
                <img src="./images/logo.png" alt="logo" class="navLogo">
                <ul class="navUl">
                    <li class="navLi"><img class="navImg" src="./images/homeIcon.png" alt="home"><a class="navLink" href="./index.html">首页</a></li>
                    <li class="navLi"><img class="navImg" src="./images/cleanerIcon.png" alt="img"><a class="navLink" href="">为什么需要空气净化器</a></li>
                    <li class="navLi"><img class="navImg" src="./images/whyBlueairIcon.png" alt="img"><a class="navLink" href="./whyBlueAir.html">为什么选择Blueair</a></li>
                    <li class="navLi"><img class="navImg" src="./images/whichoneIcon.png" alt="img"><a class="navLink" href="">怎样的空气净化器适合您</a></li>
                </ul>

                <div class="button gotoBackEndBtn colorBlue">进入后台管理</div>
            </div>
            <div class="navMask" id="navMask"></div>
            <div id="whyBlueAirSlide">
                <div class="slickContainer ourBrand">
                    <img src="./images/logo.png" alt="logo" class="ourBrandlogo">
                    <div class="ourBrandText">
                        <p class="titleMid colorBlue">我们的品牌</p>
                        <p class="ourBrandContent contentSml colorDarkGray">Blueair品牌1996年创立于瑞典首都斯德哥尔摩，HEPASilent® 高效静音专利技术使之成为全球最强劲的空气净化系统，并在技术创新、高品质、高效能等方面迅速赢得业内认可，确立了在国际市场上高端品牌的形象及地位。</p>
                    </div>
                    <div class="ourBrandDig bgBlue">
                        <div class="ourBrandContentWrapper ourBrandContentleft">
                            <p class="ourBrandContentTitle fontFamilyEn">20<span class="contentMid">年</span></p>
                            <p class="contentMid">空气净化系统生产、研发历史。</p>
                        </div>
                        <div class="ourBrandContentWrapper purBrandContentMid">
                            <p class="ourBrandContentTitle fontFamilyEn">63<span class="contentMid">个</span></p>
                            <p class="contentMid">国家热销，深受欧美、日韩顾客喜爱。</p>
                        </div>
                        <div class="ourBrandContentWrapper purBrandContentRight">
                            <p class="ourBrandContentTitle fontFamilyEn">84<span class="contentMid">%</span></p>
                            <p class="contentMid">顾客表示Blueair比之前用的其他品牌净化器性能更优。</p>
                        </div>
                    </div>
                    <span class="footnote">注：数据来自权威机构对美国791名用户的调查访问</span>
                </div>
                <div class="slickContainer hepaSilent">
                    <img src="./images/logo.png" alt="logo" class="HEPAlogo">
                    <div class="HEPAtext">
                        <p class="titleMid colorBlue">专利技术 <span class="fontFamilyEn">HEPASilent</span></p>
                        <p class="HEPAContent contentSml colorDarkGray">结合电子吸附和滤网过滤的多层渐进式过滤技术，可清除0.1微米级对肺脏有害的可吸入颗粒物，及过敏原、香烟烟雾、细菌及激光打印机、传真机所释放的微粒等空气中99.7%的污染源。</p>  
                    </div>
                    <img src="./images/whyBlueAir/hepaimg.png" alt="HEPASilent" class="HEPAImg">
                    <div class="HEPANavWrapper">
                        <div class="HEPANavItemWrapper HEPANavItemWrapper1">
                            <img class="HEPANavImg button" id="jumpEfficient" src="./images/whyBlueAir/hepaNav1.png" alt="icon">
                            <p class="HEPANavText contentSml">有效清除包括PM2.5在内的大部分微尘颗粒和细菌，一小时内室内5次循环换气。</p>
                        </div>
                        <div class="HEPANavItemWrapper">
                            <img class="HEPANavImg button" id="jumpMute" src="./images/whyBlueAir/hepaNav2.png" alt="icon">
                            <p class="HEPANavText contentSml">低速运转时静过轻声絮语，绝不干扰您的睡眠。</p>
                        </div>
                        <div class="HEPANavItemWrapper">
                            <img class="HEPANavImg button" id="jumpEnergy" src="./images/whyBlueAir/hepaNav3.png" alt="icon">
                            <p class="HEPANavText contentSml">猜猜Blueair的能耗和哪种设备相当？</p>
                        </div>
                        <div class="HEPANavItemWrapper">
                            <img class="HEPANavImg button" id="jumpByproduct" src="./images/whyBlueAir/hepaNav4.png" alt="icon">
                            <p class="HEPANavText contentSml">绝对不会释放任何臭氧，妈妈再也不用担心家中臭氧超标。</p>
                        </div>
                    </div>
                </div>
                <div class="slickContainer">
                    <div class="serveBanner">
                        <img src="./images/logo.png" alt="logo" class="serveLogo">
                        <div class="serveTitle bgBlue">
                            <p class="fontSize32 serveTitleTop">优质的服务</p>
                            <p class="fontSize14 serveTitleBottom">从售前、售中到售后，Blueair始终为您提供优质周到的服务！</p>
                        </div>
                        <img src="./images/whyBlueAir/serverMan.png" alt="img" class="serveMan">
                    </div>
                    <div class="serveContentContainer">
                        <div class="serveItemContainer">
                            <div class="serveIconWrapper serveIconWrapper1"><img class="serveIcon1" src="./images/whyBlueAir/serveIcon1.png" alt="Icon"></div>
                            <p class="contentMid colorDarkGray">入户测试 上门服务</p>
                            <p class="contentSml colorLightGray serveContent">专业团队到您家，为您提供空气检测服务。</p>
                        </div>
                        <div class="serveItemContainer">
                            <div class="serveIconWrapper"><img class="serveIcon2" src="./images/whyBlueAir/serveIcon2.png" alt="Icon"></div>
                            <p class="contentMid colorDarkGray">注册会员 实惠更多</p>
                            <p class="contentSml colorLightGray serveContent">到blueair.cn注册后您可以享受更快捷高效的售后服务支持。</p>
                        </div>
                        <div class="serveItemContainer">
                            <div class="serveIconWrapper"><img class="serveIcon3" src="./images/whyBlueAir/serveIcon3.png" alt="Icon"></div>
                            <p class="contentMid colorDarkGray">全型滤网 长期供应</p>
                            <p class="contentSml colorLightGray serveContent">Blueair本着对客户负责的态度，为客户的后续使用提供不间断的保障。</p>
                        </div>
                        <div class="serveItemContainer">
                            <div class="serveIconWrapper"><img class="serveIcon4" src="./images/whyBlueAir/serveIcon4.png" alt="Icon"></div>
                            <p class="contentMid colorDarkGray">服务网点 遍布全国</p>
                            <p class="contentSml colorLightGray serveContent">售后服务网络 覆盖全中国95个城市32个省及直辖市。</p>
                        </div>
                        <div class="serveItemContainer">
                            <div class="serveIconWrapper"><img class="serveIcon5" src="./images/whyBlueAir/serveIcon5.png" alt="Icon"></div>
                            <p class="contentMid colorDarkGray">企业客户 全程服务</p>
                            <p class="contentSml colorLightGray serveContent">对集团采购的客户提供前期方案咨询、上门送货、售后的全程服务。</p>
                        </div>
                    </div>
                </div>
                <div class="slickContainer">
                    <img src="./images/logo.png" alt="logo" class="honorLogo">
                    <p class="titleBig colorBlue honorTitle">荣誉和故事</p>
                    <div class="honorNavContainer">
                        <span class="honorNav contentMid actived" id="honorIdenty">奖项和认证</span>
                        <span class="honorNav contentMid" id="honorReport">荣誉和报道</span>
                    </div>
                    <div class="honorContentContainer actived" id="honorIdentyContent">
                        <img src="./images/whyBlueAir/honorImg1.png" alt="img" class="honorImgSml">
                        <img src="./images/whyBlueAir/honorImg2.png" alt="img" class="honorImgSml">
                        <img src="./images/whyBlueAir/honorImg3.png" alt="img" class="honorImgSml">
                        <img src="./images/whyBlueAir/honorImg4.png" alt="img" class="honorImgSml">
                        <img src="./images/whyBlueAir/honorImg5.png" alt="img" class="honorImgSml">
                        <img src="./images/whyBlueAir/honorImg6.png" alt="img" class="honorImgSml">
                        <img src="./images/whyBlueAir/honorImg7.png" alt="img" class="honorImgSml">
                        <img src="./images/whyBlueAir/honorImg8.png" alt="img" class="honorImgSml">
                        <img src="./images/whyBlueAir/honorImg9.png" alt="img" class="honorImgSml">
                        <img src="./images/whyBlueAir/honorImg10.png" alt="img" class="honorImgSml">
                        <img src="./images/whyBlueAir/honorImg11.png" alt="img" class="honorImgSml">
                        <img src="./images/whyBlueAir/honorImg12.png" alt="img" class="honorImgSml">
                    </div>
                    <div class="honorContentContainer" id="honorReportContent">
                        <img src="./images/whyBlueAir/honorRightImgBig.png" alt="img" class="honorImg honorImgBig">
                        <img src="./images/whyBlueAir/honorRightImg1.png" alt="img" class="honorImg">
                        <img src="./images/whyBlueAir/honorRightImg2.png" alt="img" class="honorImg">
                        <img src="./images/whyBlueAir/honorRightImg3.png" alt="img" class="honorImg">
                        <img src="./images/whyBlueAir/honorRightImg4.png" alt="img" class="honorImg">
                    </div>
                </div>
            </div>
            
        </div>
        <!--  end WhyBlueAir  -->
        
        <!--  Efficient  -->
        <div class="efficientContainer animated" id="efficient">
            <div class="navBtn" id="efficientBack"><img src="./images/backIcon.png" alt="nav"></div>
            <div class="efficientWrapper animated" id="efficientDark">
                <div class="darkAirWrapper"></div>
                <div class="bacterialWrapper"></div>
                <p class="bacterialText">重度污染的室内，<br> PM2.5浓度和细菌浓度分别为400µg/m3和20000cfu/m3。</p>
                <div class="openBlueairBtn button" id="openBlueAir"></div>
                <p class="contentSml efficientBottomText">点击开启Blueair净化器<br>让Blueair带给您耳目一新的改变</p>
            </div>
            <div class="efficientWrapper animated" id="efficientLight">
                <p class="efficientLightText colorDarkGray titleMid">打开Blueair净化器仅一小时 <br> PM2.5和细菌浓度下降了99%</p>
                <img src="./images/whyBlueAir/efiicientLightImg.png" alt="img" class="efficientLightImg">
                <p class="efficientLightTextBottom colorDarkGray contentSml">用一个人往返北欧的机票钱，购入一台Blueair，您就可以吧北欧的空气<br>永久地带回家中，让您和家人一起呼吸到全球最好的空气。</p>
                <div class="button btnWhyEfficient" id="btnWhyEfficient">为什么这么高效?</div>
                <img src="./images/whyBlueAir/machine.png" alt="machine" class="efficientMachine">
            </div>
        </div>
        
        <div class="whyEfficient animated" id="whyEfficient">
            <div class="navBtn" id="whyEfficientBack"><img src="./images/backIcon.png" alt="back"></div>
            <p class="whyEfficientTitle titleMid colorDarkGray">Blueair何以达到如此高的净化效率<br>——归功于<span class="colorBlue">HEPASilent</span>的创新性净化技术</p>
            <img src="./images/whyBlueAir/efficientChartLeft.png" alt="Chart" class="whyEfficientImg whyEfficientImgLeft">
            <img src="./images/whyBlueAir/efficientChartRight.png" alt="Chart" class="whyEfficientImg whyEfficientImgRight">
            <p class="whyEfficientText whyEfficientTextLeft">采用单一过滤技术，而纯静电过滤和纯机械过滤都存在局限性。纯静电过滤遇到比较大的颗粒物效果就减弱了，而纯机械过滤在颗粒物较小时也不理想。</p>
            <p class="whyEfficientText whyEfficientTextRight">HEPASilent®专利技术将几种过滤机制进行了革命性的结合和创新，任何尺寸的颗粒都不会放过，对难以捕捉的颗粒也能将其高效过滤。</p>
        </div>
        <!--  end Efficient  -->
        
        <!--  Mute  -->
        <div class="mute animated" id="mute">
            <div class="navBtn" id="muteBack"><img src="./images/backIcon.png" alt="back"></div>
            <div class="muteItem muteItem1">
                <img src="./images/whyBlueAir/53db.png" alt="play" class="muteItemImg">
                <p class="muteText">工作的洗衣机</p>
            </div>
            <div class="muteItem muteItem2">
                <img src="./images/whyBlueAir/40db.png" alt="play" class="muteItemImg">
                <p class="muteText">近距离的微风</p>
            </div>
            <div class="muteItem muteItem3">
                <img src="./images/whyBlueAir/30db.png" alt="play" class="muteItemImg">
                <p class="muteText">安静的图书馆</p>
            </div>
            <div class="muteItem muteItem4">
                <img src="./images/whyBlueAir/23db.png" alt="play" class="muteItemImg">
                <p class="muteText">开着Blueair的夜晚</p>
            </div>
        </div>
        <!--  end Mute  -->
        
        <!--  Energy Saving  -->
        <div class="energy animated" id="energy">
            <div class="navBtn" id="energyBack"><img src="./images/backIcon.png" alt="back"></div>
            <p class="energyTitle colorDarkGray titleMid">猜猜Blueair的最低功率和以下那种设备相当？</p>
            <div class="energyItem firstEnergyItem">
                <p class="energyQusTitle fontFamilyEn">1</p>
                <div class="energyCicle" id="energyBtn1">
                    <img src="./images/whyBlueAir/energy1.png" alt="img" class="energyImg">
                </div>
                <p class="titleMid colorDarkGray centerText">发光水母</p>
                <img src="./images/whyBlueAir/wrong.png" alt="wrong" class="energyAns animated" id="energy1Img">
                <p class="energyContent animated colorLightGray" id="energy1Content">水母是靠荧光蛋白来发光，Blueair目前没有引入这样的技术喔。不过为了降低耗，我们一直再努力！</p>
            </div>
            <div class="energyItem">
                <p class="energyQusTitle fontFamilyEn">2</p>
                <div class="energyCicle" id="energyBtn2">
                    <img src="./images/whyBlueAir/energy2.png" alt="img" class="energyImg">
                </div>
                <p class="titleMid colorDarkGray centerText">液晶电视</p>
                <img src="./images/whyBlueAir/wrong.png" alt="wrong" class="energyAns animated" id="energy2Img">
                <p class="energyContent animated colorLightGray" id="energy2Content">家用的50英寸平板电视，电源功率大致在100W左右，甚至更多，Blueair不需要这么高的耗电量喔。</p>
            </div>
            <div class="energyItem">
                <p class="energyQusTitle fontFamilyEn">3</p>
                <div class="energyCicle" id="energyBtn3">
                    <img src="./images/whyBlueAir/energy3.png" alt="img" class="energyImg">
                </div>
                <p class="titleMid colorDarkGray centerText">节能空调</p>
                <img src="./images/whyBlueAir/wrong.png" alt="wrong" class="energyAns animated" id="energy3Img">
                <p class="energyContent animated colorLightGray" id="energy3Content">达到二级能效等级的1.5匹节能空调，制冷功率大致为1500W-1800W，Blueair不需要这么高的耗电量喔。</p>
            </div>
            <div class="energyItem">
                <p class="energyQusTitle fontFamilyEn">4</p>
                <div class="energyCicle" id="energyBtn4">
                    <img src="./images/whyBlueAir/energy4.png" alt="img" class="energyImg">
                </div>
                <p class="titleMid colorDarkGray centerText">节能灯泡</p>
                <img src="./images/whyBlueAir/right.png" alt="right" class="energyAns animated" id="energy4Img">
                <p class="energyContent animated colorLightGray" id="energy4Content">Blueair的HEPASilent过滤技术可有效降低风压，最低功率仅10W，24小时开机能耗低于一个节能灯泡。</p>
                <div class="energyHonor animated colorLightGray" id="energyHonor"><img src="./images/whyBlueAir/honorImg2.png" alt="Honor" class="energyHonorImg">荣获美国能源之星认证</div>
            </div>            
        </div>
        <!--  end Energy Saving -->
        
        <!--  By-product  -->
        <div class="byproduct animated" id="byproduct">
            <div class="navBtn" id="byproductBack"><img src="./images/backIcon.png" alt="back"></div>
            <div class="byproductItem bgDarkGray">
                <p class="byproductLeftText contentMid">市面上许多净化器虽然功能丰富，却很容易产生超标的臭氧，本应担当健康卫士却成为了健康杀手。连同其他家用电器和释放的臭氧和室外超标的近地面臭氧，一起对人体造成危害。</p>
                <img src="./images/whyBlueAir/byproductLeftImg.png" alt="Img" class="byproductLeftImg">
                <div class="button byproductBtn" id="byproductLearnMore">了解更多臭氧知识</div>
            </div>
            <div class="byproductItem bgLightBlue">
                <p class="contentMid byproductRightText colorBlue">Blueair专利的HEPASilent®过滤技术不但做到“零臭氧排放”，还可以在密封的房间里有效减少臭氧水平。无论是来自室外的近地面臭氧，还是家居生活中产生的臭氧，您都无需再担心。</p>
                <img src="./images/whyBlueAir/byproductRightImg.png" alt="img" class="byproductRightImg">
                <img src="./images/whyBlueAir/homeauth.png" alt="img" class="byproductImg1">
                <p class="byproductText1 colorBlue contentSml">美国加州空气资源委员会(ARB)授予Blueair“零臭氧排放”认证。</p>
                <img src="./images/whyBlueAir/opsis.png" alt="img" class="byproductImg2">
                <p class="byproductText2 colorBlue contentSml">经过全球专业的环境空气质量分析公司OPSIS监测，Blueair空气净化器可有效降低封闭的房间内的臭氧水平。</p>
                <div class="button byproductBtn" id="byproductCheckIdent">查看证书</div>
            </div>
            <div class="clearFix"></div>
        </div>
        <!--  end By-product  -->
    </div>
    
    
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/action.js"></script>
</body>
</html>
