<!DOCTYPE html>
<html lang="cn|en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Why Need Cleaner</title>

    <link rel="stylesheet" href="css/resetStyle.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/whyCleaner.css">
</head>

<body>
    <div class="mainContainer whyCleaner colorDarkGray">
        <!--  part 1  -->
        <div class="part1Title">
            <div class="part1TitleWrapper">
                <p class="font64">01</p>
                <p class="font84">好空气</p>
                <p class="font64">有多重要</p>
            </div>
        </div>
        <div class="part1Section1 partSection font18">
            <p class="whyCleanerPartTitle font24 colorBlue">呼吸的重要性</p>
            <p>呼吸是人的本能，一刻不能停息。人不吃饭可以活5个星期，不喝水可以活5天，但如果没有空气，却连5分钟都活不了。</p>
            <div class="">
                <div class="oneThird">
                    <img src="./images/whyCleaner/1_2.png" alt="img">
                    <p>一个成年人每天呼吸</p>
                    <p><span>25000+</span>次</p>
                </div>
                <div class="oneThird"></div>
                <div class="oneThird"></div>
            </div>
            <p>尤其在运动时，为了适应机体代谢需要，肺通气量增大，呼吸会成倍加快、加深。</p>
        </div>

        <!--  end part 1  -->

        <!--  part 2  -->
        <!--  end part 2  -->

        <!--  part 3  -->
        <!--  end part 3  -->
    </div>

    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/action.js"></script>
</body>

</html>