<!DOCTYPE html>
<html lang="cn|en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Why Need Cleaner</title>

    <link rel="stylesheet" href="css/resetStyle.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/whyCleaner.css">
</head>

<body>

    <!--  part 1  -->
    <div class="paraWrap">
        <div class="paraItem partTitle" id="wncPart1Title">
            <div class="parallax-slider">
                <img src="./images/whyCleaner/wncPart1Title.png" class="wncPartTitle" alt="title">
            </div>

        </div>
        <div class="paraItem" id="wncPart1Bg">
            <div class="parallax-slider">
                <img src="./images/whyCleaner/1_1.png" class="wncParaBgImg" alt="img">
            </div>
        </div>
    </div>

    <div class="partSection font18">
        <p class="whyCleanerPartTitle font24 colorBlue">呼吸的重要性</p>
        <p>呼吸是人的本能，一刻不能停息。人不吃饭可以活5个星期，不喝水可以活5天，但如果没有空气，却连5分钟都活不了。</p>
        <div class="sectionRow">
            <div class="oneThird">
                <div class="sectionCell">
                    <span class="imgWrap"><img src="./images/whyCleaner/1_2.png" alt="img"></span>
                    <p>一个成年人每天呼吸</p>
                    <p><span class="font42 fBold">25000+</span>次</p>
                </div>
            </div>
            <div class="oneThird centerContent">
                <div class="sectionCell">
                    <span class="imgWrap"><img src="./images/whyCleaner/1_3.png" alt="img"></span>
                    <p>吸入空气</p>
                    <p><span class="font42 fBold">20KG+</span></p>
                </div>
            </div>
            <div class="oneThird rightContent">
                <div class="sectionCell">
                    <span class="imgWrap"><img src="./images/whyCleaner/1_4.png" alt="img"></span>
                    <p>消耗氧气</p>
                    <p><span class="font42 fBold">1KG+</span></p>
                </div>
            </div>
        </div>
        <p>尤其在运动时，为了适应机体代谢需要，肺通气量增大，呼吸会成倍加快、加深。</p>
        <div class="sectionRow">
            <div class="oneThird sectionCell">
                <span class="imgWrap"><img src="./images/whyCleaner/1_5.png" alt="img"></span>
                <p>正常状态下每分钟呼吸</p>
                <p><span class="font42 fBold">12-16</span>次</p>
            </div>
            <div class="oneThird sectionCell whyArrowImg"><span class="imgWrap"><img src="./images/whyCleaner/1_6.png" alt="img"></span></div>
            <div class="oneThird sectionCell">
                <span class="imgWrap"><img src="./images/whyCleaner/1_7.png" alt="img"></span>
                <p>运动时每分钟呼吸会增加到</p>
                <p><span class="font42 fBold">40-50</span>次</p>
            </div>
        </div>
    </div>
    <div class="partSection bgLightGray font18">
        <p class="whyCleanerPartTitle font24 colorBlue">空气污染对人体造成的危害</p>
        <p>在空气中的污染物会使人产生身体不适，症状有头疼，疲劳，眼睛、鼻腔和喉咙有刺激感，咳嗽等。</p>
        <p class="whySection2P">严重时可诱发</p>
        <div class="sectionRow">
            <div class="oneThird">
                <div class="sectionCell">
                    <span class="imgWrap"><img src="./images/whyCleaner/1_8.png" alt="img"></span>
                    <p>呼吸系统疾病</p>
                    <p class="font14 color9bGray">如哮喘、肺气肿</p>
                </div>
            </div>
            <div class="oneThird centerContent">
                <div class="sectionCell">
                    <span class="imgWrap"><img src="./images/whyCleaner/1_9.png" alt="img"></span>
                    <p>心血管疾病</p>
                    <p class="font14 color9bGray">如血栓、高血压</p>
                </div>
            </div>
            <div class="oneThird rightContent">
                <div class="sectionCell">
                    <span class="imgWrap"><img src="./images/whyCleaner/1_10.png" alt="img"></span>
                    <p>癌症</p>
                    <p class="font14 color9bGray">如癌症、白血病</p>
                </div>
            </div>
        </div>
        <div class="sectionRow">
            <div class="half rightBorder">
                <p>我国每年死于由室内或室外空气污染引起的各种疾病的人数</p>
                <p class="font42 fBold">850000+</p>
                <p class="font12">＊世界卫生组织报告</p>
            </div>
            <div class="half">
                <p>相当于每年全国交通事故死亡人数</p>
                <p class="font42 fBold whyConMartop">4倍</p>
            </div>
        </div>
    </div>
    <div class="partSection font18">
        <p class="whyCleanerPartTitle font24 colorBlue">对空气尤其敏感的人群</p>
        <div class="sectionRow">
            <div class="half rightBorder centerContent">
                <span class="imgWrap"><img src="./images/whyCleaner/1_11.png" alt="img"></span>
                <p class="whyPepTitle">老人</p>
                <p class="font14 colorLightGray leftContent">65以上老年人身体机能下降，对于进入体内的有害物质无法及时代谢，对外部环境的反应更加敏感。</p>
            </div>
            <div class="half centerContent">
                <span class="imgWrap"><img src="./images/whyCleaner/1_12.png" alt="img"></span>
                <p class="whyPepTitle">呼吸系统疾病人群</p>
                <p class="font14 colorLightGray leftContent">如哮喘，慢性阻塞性肺病等。空气污染会加重患病人群的病情甚至威胁到生命。</p>
            </div>
        </div>
        <div class="sectionRow">
            <div class="half rightBorder centerContent">
                <span class="imgWrap"><img src="./images/whyCleaner/1_13.png" alt="img"></span>
                <p class="whyPepTitle">少年儿童</p>
                <p class="font14 colorLightGray leftContent">少年儿童身体各部位的机能尚未发育健全，空气污染会影响少年儿童的发育。研究显示，空气污染指数下降，儿童肺部功能提升。</p>
            </div>
            <div class="half centerContent">
                <span class="imgWrap"><img src="./images/whyCleaner/1_14.png" alt="img"></span>
                <p class="whyPepTitle">孕妇</p>
                <p class="font14 colorLightGray leftContent">空气污染会影响胎儿发育，对孕妇和胎儿的危害甚至比香烟更大。长期大量吸入空气中的污染物会导致患高血压的概率上升。</p>
            </div>
        </div>
    </div>
    <!--  end part 1  -->


    <!--  part 2  -->
    <div class="paraWrap">
        <div class="paraItem partTitle" id="wncPart2Title">
            <div class="parallax-slider">
                <img src="./images/whyCleaner/wncPart2Title.png" class="wncPartTitle" alt="img">
            </div>
        </div>
        <div class="paraItem" id="wncPart2Bg">
            <div class="parallax-slider">
                <img src="./images/whyCleaner/2_01.jpg" class="wncParaBgImg" alt="img">
            </div>
        </div>
    </div>
    <div class="partSection font18">
        <div class="shortLineWrap">
            <div class="shortLine"></div>
        </div>
        <p class="centerContent font32">“呼吸好空气如此重要，</p>
        <p class="centerContent font32">你和家人每天呼吸到的空气是否洁净呢？”</p>
        <div class="shortLineWrap">
            <div class="shortLine"></div>
        </div>
        <p class="colorLightGray">谈到这个问题，首先应考虑我们每天所处的室内的空气。</p>
        <br />
        <p class="colorLightGray">上班族每天大多数时间都在家中和办公室度过，老人、孕妇、婴儿，则需要长时间在室内休息。可见我们每天绝大多数的时间都在呼吸着室内的空气。因此室内空气的优劣与我们和家人的健康关系重大。</p>
        <div class="centerContent part3SpTime">
            <span class="imgWrap"><img src="./images/whyCleaner/2_02.png" alt="img"></span>
            <p>人每天在室内度过的时间</p>
            <p class="font42 fBold">>80%</p>
        </div>
    </div>
    <div class="partSection bgLightGray">
        <div class="whyCleanerPartTitle font24 colorBlue">室内空气面临的多重威胁</div>
        <p class="wnc3SecTitle1"><span class="part3TitleIcon bgBlue">1</span>室内空气不达标，影响室内空气</p>
        <div>
            <div class="part3S1ConLFWrap">
                <p>2014年，中国74个重点城市中，以细颗粒物（PM2.5）、可吸入颗粒物（PM10）、二氧化氮（NO2）、一氧化碳（CO）和臭氧（O3）等6项污染物综合评价空气质量指数，仅8城市达标。超标天数中以PM2.5为首要污染物天数最多，其次是PM10。</p>
                <br>
                <p class="colorLightGray font12">＊中国环境状况公报</p>
            </div>
            <div class="part3S1ConRTWrap">
                <img src="./images/whyCleaner/2_03.png" alt="img" onload="this.width/=2;this.onload=null;">
            </div>
            <div class="clearBoth"></div>
        </div>
        <div class="whatIsCleanBtnWrap"><span class="button bgBlue whatIsCleanBtn">补充阅读：颗粒物浓度在多少以内才是洁净的空气</span></div>
        <p>在污染物超标的大气环境中，是不是在家里紧闭门窗就万事大吉？</p>
        <br>
        <p>就此，复旦大学公共卫生学院阚海东教授团队在对空气净化器的研究过程中发现，日间在实验室中开启空气净化器，可将PM2.5浓度从6到7个单位降至1到2个单位;但关闭门窗后，即使是夜间乃至凌晨，室内PM2.5浓度仍会回升至4到5个单位。因此我们可以看出，普通建筑门窗无法挡住PM2.5入室，实验也证明与细颗粒物相关的空气质量室内外差异并不大。</p>
        <p class="wnc3SecTitle2"><span class="part3TitleIcon bgBlue">2</span>室内存在多重隐形污染源</p>
        <p>即使室外空气良好，室内也存在很多意想不到的污染源。导致通常室内空气污染的程度可高出室外污染5-10倍。你有想过你的家居环境和办公环境会存在以下空气杀手吗？</p>
        <div class="sectionRow">
            <div class="half">
                <p class="colorBlue">家居环境</p>
                <ul class="polutionSrcLi">
                    <li>
                        <img src="./images/whyCleaner/2_04.png" alt="icon">
                        <p>二手烟</p>
                    </li>
                    <li>
                        <img src="./images/whyCleaner/2_05.png" alt="icon">
                        <p>装修材料</p>
                    </li>
                    <li>
                        <img src="./images/whyCleaner/2_06.png" alt="icon">
                        <p>床品</p>
                    </li>
                    <li>
                        <img src="./images/whyCleaner/2_07.png" alt="icon">
                        <p>烹饪油烟</p>
                    </li>
                    <li>
                        <img src="./images/whyCleaner/2_08.png" alt="icon">
                        <p>微波炉</p>
                    </li>
                    <li>
                        <img src="./images/whyCleaner/2_09.png" alt="icon">
                        <p>花粉</p>
                    </li>
                    <li>
                        <img src="./images/whyCleaner/2_10.png" alt="icon">
                        <p>冰箱</p>
                    </li>
                    <li>
                        <img src="./images/whyCleaner/2_11.png" alt="icon">
                        <p>宠物</p>
                    </li>
                    <li>
                        <img src="./images/whyCleaner/2_12.png" alt="icon">
                        <p>马桶</p>
                    </li>
                </ul>
            </div>
            <div class="half">
                <p class="colorBlue">办公环境</p>
                <ul class="polutionSrcLi">
                    <li>
                        <img src="./images/whyCleaner/2_13.png" alt="icon">
                        <p>打印机</p>
                    </li>
                    <li>
                        <img src="./images/whyCleaner/2_14.png" alt="icon">
                        <p>电脑主机</p>
                    </li>
                    <li>
                        <img src="./images/whyCleaner/2_15.png" alt="icon">
                        <p>办公桌隔板</p>
                    </li>
                    <li>
                        <img src="./images/whyCleaner/2_16.png" alt="icon">
                        <p>地毯</p>
                    </li>
                    <li>
                        <img src="./images/whyCleaner/2_17.png" alt="icon">
                        <p>暖通空调</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="partSection font18">
        <div class="whyCleanerPartTitle font24 colorBlue">解决室内空气污染的几大方法</div>
        <ul>
            <li>
                <div>
                    <span class="imgWrap"><img src="./images/whyCleaner/2_18.png" alt="icon"></span>
                    <span>控制污染源</span>
                </div>
                <ul>
                    <li>选择绿色建材和环保家具；</li>
                    <li>室内不吸烟；</li>
                    <li>勤打扫房间，清洁床褥；</li>
                </ul>
                <div>
                    <span class="imgWrap"><img src="./images/whyCleaner/2_20.png" alt="icon"></span>
                    <span>存在局限性</span>
                </div>
            </li>
            <li>
                <div>
                    <span class="imgWrap"><img src="./images/whyCleaner/2_19.png" alt="icon"></span>
                    <span>植物净化</span>
                </div>
                <p>吊兰、芦荟、仙人球、常春藤等室内观赏叶植物对甲醛有一定的吸收效果，但其吸收量低，效果缓慢。因此仅采取植物来净化空气，还不能达到理想结果。</p>
                <div>
                    <span class="imgWrap"><img src="./images/whyCleaner/2_20.png" alt="icon"></span>
                    <span>效果缓慢、单一</span>
                </div>
            </li>
            <li>
                <div>
                    <span class="imgWrap"><img src="./images/whyCleaner/2_22.png" alt="icon"></span>
                    <span>通风换气</span>
                </div>
                <p>室外空气良好时，可以开窗通风用室外新鲜空气来稀释室内空气污染物。但如果室外空气严重污染，开窗通风显然变成一种“引霾入室”的行为，反而加重室内空气污染。</p>
                <div>
                    <span class="imgWrap"><img src="./images/whyCleaner/2_20.png" alt="icon"></span>
                    <span>存在局限性</span>
                </div>
            </li>
            <li>
                <div>
                    <span class="imgWrap"><img src="./images/whyCleaner/2_23.png" alt="icon"></span>
                    <span>空气净化器</span>
                </div>
                <p>采用符合国际标准和国家标准的空气净化器，可以净化室内空气中流通的多种污染物，是当前世界公认的最高效最方便的净化室内空气的方法。</p>
                <div>
                    <span class="imgWrap"><img src="./images/whyCleaner/2_21.png" alt="icon"></span>
                    <span>最推荐</span>
                </div>
            </li>
        </ul>
    </div>
    <!--  end part 2  -->

    <!--  part 3  -->
    <div class="paraWrap">
        <div class="paraItem partTitle" id="wncPart3Title">
            <div class="parallax-slider">
                <img src="./images/whyCleaner/wncPart3Title.png" class="wncPartTitle" alt="img">
            </div>
        </div>
        <div class="paraItem" id="wncPart3Bg">
            <div class="parallax-slider">
                <img src="./images/whyCleaner/2_01.jpg" class="wncParaBgImg" alt="img">
            </div>
        </div>
    </div>
    <!--  end part 3  -->

    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/action.js"></script>
</body>

</html>