<!DOCTYPE html>
<html lang="cn|en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Why Need Cleaner</title>

    <link rel="stylesheet" href="css/resetStyle.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/whyCleaner.css">
</head>

<body>
    <div class="mainContainer whyCleaner colorDarkGray">
        <!--  part 1  -->
        // TODO fixed
        <div class="part1Title" id="whyPart1Title" data-stellar-background-ratio="0.5">
            <div class="part1TitleWrapper" data-stellar-ratio="0.2">
                <p class="font64 fBold">01</p>
                <p class="font84 whyTitleLH centerContent">好空气</p>
                <p class="font64 whyTitleLH centerContent">有多重要</p>
            </div>
        </div>
        <div class="partSection font18" data-stellar-ratio="0.3">
            <p class="whyCleanerPartTitle font24 colorBlue">呼吸的重要性</p>
            <p>呼吸是人的本能，一刻不能停息。人不吃饭可以活5个星期，不喝水可以活5天，但如果没有空气，却连5分钟都活不了。</p>
            <div class="sectionRow">
                <div class="oneThird">
                    <div class="sectionCell">
                        <span class="imgWrap"><img src="./images/whyCleaner/1_2.png" alt="img"></span>
                        <p>一个成年人每天呼吸</p>
                        <p><span class="font42 fBold">25000+</span>次</p>
                    </div>
                </div>
                <div class="oneThird centerContent">
                    <div class="sectionCell">
                        <span class="imgWrap"><img src="./images/whyCleaner/1_3.png" alt="img"></span>
                        <p>吸入空气</p>
                        <p><span class="font42 fBold">20KG+</span></p>
                    </div>
                </div>
                <div class="oneThird rightContent">
                    <div class="sectionCell">
                        <span class="imgWrap"><img src="./images/whyCleaner/1_4.png" alt="img"></span>
                        <p>消耗氧气</p>
                        <p><span class="font42 fBold">1KG+</span></p>
                    </div>
                </div>
            </div>
            <p>尤其在运动时，为了适应机体代谢需要，肺通气量增大，呼吸会成倍加快、加深。</p>
            <div class="sectionRow">
                <div class="oneThird sectionCell">
                    <span class="imgWrap"><img src="./images/whyCleaner/1_5.png" alt="img"></span>
                    <p>正常状态下每分钟呼吸</p>
                    <p><span class="font42 fBold">12-16</span>次</p>
                </div>
                <div class="oneThird sectionCell whyArrowImg"><span class="imgWrap"><img src="./images/whyCleaner/1_6.png" alt="img"></span></div>
                <div class="oneThird sectionCell">
                    <span class="imgWrap"><img src="./images/whyCleaner/1_7.png" alt="img"></span>
                    <p>运动时每分钟呼吸会增加到</p>
                    <p><span class="font42 fBold">40-50</span>次</p>
                </div>
            </div>
        </div>
        <div class="partSection bgLightGray">
            <p class="whyCleanerPartTitle font24 colorBlue">空气污染对人体造成的危害</p>
            <p>在空气中的污染物会使人产生身体不适，症状有头疼，疲劳，眼睛、鼻腔和喉咙有刺激感，咳嗽等。</p>
            <p class="whySection2P">严重时可诱发</p>
            <div class="sectionRow">
                <div class="oneThird">
                    <div class="sectionCell">
                        <span class="imgWrap"><img src="./images/whyCleaner/1_8.png" alt="img"></span>
                        <p>呼吸系统疾病</p>
                        <p class="font14 color9bGray">如哮喘、肺气肿</p>
                    </div>
                </div>
                <div class="oneThird centerContent">
                    <div class="sectionCell">
                        <span class="imgWrap"><img src="./images/whyCleaner/1_9.png" alt="img"></span>
                        <p>心血管疾病</p>
                        <p class="font14 color9bGray">如血栓、高血压</p>
                    </div>
                </div>
                <div class="oneThird rightContent">
                    <div class="sectionCell">
                        <span class="imgWrap"><img src="./images/whyCleaner/1_10.png" alt="img"></span>
                        <p>癌症</p>
                        <p class="font14 color9bGray">如癌症、白血病</p>
                    </div>
                </div>
            </div>
            <div class="sectionRow">
                <div class="half rightBorder">
                    <p>我国每年死于由室内或室外空气污染引起的各种疾病的人数</p>
                    <p class="font42 fBold">850000+</p>
                    <p class="font12">＊世界卫生组织报告</p>
                </div>
                <div class="half">
                    <p>相当于每年全国交通事故死亡人数</p>
                    <p class="font42 fBold whyConMartop">4倍</p>
                </div>
            </div>
        </div>
        <div class="partSection">
            <p class="whyCleanerPartTitle font24 colorBlue">对空气尤其敏感的人群</p>
            <div class="sectionRow">
                <div class="half rightBorder centerContent">
                    <span class="imgWrap"><img src="./images/whyCleaner/1_11.png" alt="img"></span>
                    <p class="whyPepTitle">老人</p>
                    <p class="font14 colorLightGray leftContent">65以上老年人身体机能下降，对于进入体内的有害物质无法及时代谢，对外部环境的反应更加敏感。</p>
                </div>
                <div class="half centerContent">
                    <span class="imgWrap"><img src="./images/whyCleaner/1_12.png" alt="img"></span>
                    <p class="whyPepTitle">呼吸系统疾病人群</p>
                    <p class="font14 colorLightGray leftContent">如哮喘，慢性阻塞性肺病等。空气污染会加重患病人群的病情甚至威胁到生命。</p>
                </div>
            </div>
            <div class="sectionRow">
                <div class="half rightBorder centerContent">
                    <span class="imgWrap"><img src="./images/whyCleaner/1_13.png" alt="img"></span>
                    <p class="whyPepTitle">少年儿童</p>
                    <p class="font14 colorLightGray leftContent">少年儿童身体各部位的机能尚未发育健全，空气污染会影响少年儿童的发育。研究显示，空气污染指数下降，儿童肺部功能提升。</p>
                </div>
                <div class="half centerContent">
                    <span class="imgWrap"><img src="./images/whyCleaner/1_14.png" alt="img"></span>
                    <p class="whyPepTitle">孕妇</p>
                    <p class="font14 colorLightGray leftContent">空气污染会影响胎儿发育，对孕妇和胎儿的危害甚至比香烟更大。长期大量吸入空气中的污染物会导致患高血压的概率上升。</p>
                </div>
            </div>
        </div>

        <!--  end part 1  -->

        <!--  part 2  -->
        <!--  end part 2  -->

        <!--  part 3  -->
        <!--  end part 3  -->
    </div>

    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/action.js"></script>
</body>

</html>