<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="<?php echo base_url('common/css/bootstrap.min.css'); ?>" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url('common/css/login.css'); ?>">
	<title>Blueair login</title>
</head>

<body>
    <form id="login-form" class="form-horizontal container">
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6 imgPosition">
          <img src="<?php echo base_url('common/images/logo.png'); ?>" alt="#" class="center-block img">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
          <input type="text" class="form-control input-lg" id="username" placeholder="用户名" style="">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
          <input type="password" class="form-control input-lg" id="password" placeholder="密码">
        </div>
      </div>
      <div id="error-label" class="form-group" style="display:none">
          <div class="col-sm-offset-3 col-sm-6">
              <div class="alert alert-danger">
                  登录失败
              </div>
          </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
          <button id="login-button" type="button" class="btn btn-primary btn-lg btn-block">登陆</button>
        </div>
      </div>

    </form>
	<script src="<?php echo base_url('common/js/jquery.min.js'); ?>"></script>
	<script src="<?php echo base_url('common/js/bootstrap.min.js'); ?>"></script>
	<script src="<?php echo base_url('common/js/login.js'); ?>"></script>
</body>
</html>