<html>
	<head>
		<meta charset='utf-8'>
		
		<link rel="stylesheet" href="<?php echo base_url('assets/css/resetStyle.css') ?>">
		<link rel="stylesheet" href="<?php echo base_url('assets/css/common_backend.css') ?>">
		<link rel="stylesheet" href="<?php echo base_url('assets/css/login.css') ?>">
	</head>

	<body>
        <div class="mainContainer">
            <div class="container">
                <div class="logo"></div>
                <input type="text" id='username' class="inputWrapper" placeholder="用户名">
                <input type="password" id='password' class="inputWrapper" placeholder="密码">
                <button id='login' class="loginBtn bgBlueColor">登录</button>
            </div>
        </div>
		
		
		<script src="<?php echo base_url('assets/js/jquery.js'); ?>"></script>
		<script src="<?php echo base_url('assets/js/index_login.js'); ?>"></script>
	</body>
</html>